@import "navbar.css"; /*mengimport style navbar yang ada di file navbar.css*/
@import "button.css"; /*mengimport style button*/



*{
    padding:0;
    box-sizing: border-box;
    margin: 0;
    transition: all 0.1s;
}
html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #10111B;
    color: #f8f8f8;
}

p{
    color: #858585;
    line-height: 1.5em;
}

label{
    font-size: 0.8em;
}

footer{
    padding: 15px 0px;
    background-color: black;
    position: relative;
    width: 100%;

}
footer p{
    font-size: small;
}
#landing{
    padding-top: 150px;
}
#bagian-2{
    padding-top: 100px;
}
#bagian-3{
    padding-top: 100px;
}
#deskripsi-biodata, #foto-biodata, #header-biodata{
    transition: 0.3s;
}

.col-50{
    width: 50%;
}
.col-80{
    width: 80%;
}
.col-40{
    width: 40%;
}
.bg-dark{
    background-color: #10111B !important;
}
.bg-light{
    background-color: #dddddd;
}
.color-dark{
    color:  #10111B;
}
.color-white{
    color: #dddddd;
}

.dark-themes{
    background-color: #10111B !important;
    color: #dddddd;
}

.color-themes{
    background-color: lightseagreen !important;
    color: white;
    border: none !important;
}

.big-header{
    font-size: 2.5em;
}

.container{
    padding: 0 8%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.justifiy-center{
    justify-content: center !important;
}
.align-center{
    align-items: center;
}


.img-responsive{
    width: 100%;
}
.img-landing{
    max-width: 400px;
}
.img-profil{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}
.img-pemanis1{
    max-width: 400px;
    position: absolute;
    right: -200px;

}
.img-pemanis2{
    max-width: 150px;
    left: -100px;
    z-index: -1;
    position: relative;
    top: -100px;

}


.margin-10{
    margin:10px 0px;
}

.margin-30{
        margin:30px 0px;
}

.margin-60{
    margin:60px 0px;
}

.ml-10{
    margin-left: 10px;
}

.v-100{
    min-height: 100vh;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgb(177, 177, 177);
    border-radius: 20px;
    transition: all 0.3s;
    cursor: pointer;
  }
.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius:50%;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}

.checkbox:checked + .switch::after {
    left : 20px;
}
.checkbox:checked + .switch {
    background-color: #487ae6;
}
.checkbox {
    display : none;
}
.zigzag1{
    width: 50px;
}
.hide{
    display: none;
}
.unhide{
    display: block;
}


/* untuk tampilan HP */
@media screen and (max-width: 600px) {
    html{
        overflow-x: hidden !important;
    }
    body{
        overflow-x: hidden;
    }
    .col-50{
        width: 100%;
    }
    .col-80{
        width: 100%;
    }
    .col-40{
        width: 100%;
    }
    .img-pemanis1{
     /* display: none; */
     max-width: 300px;
     z-index: -999;
    
    }
    .img-pemanis2{
        max-width: 120px;
        left: -100px;
        z-index: -99;
        position: relative;
        top: -60px;
    
    }
  
    footer{
        width: 100%;
    }
 }
